.game {
  display: flex;
  flex-direction: row;
  background: url("./../../public/background.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.square {
  position: relative;
  width: 33%;
  /* Задайте ширину для наглядности */
  height: 45px;
  /* Задайте высоту для наглядности */
}

.chip {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  color: white;
  cursor: inherit;
  width: 35px;
  /* Кнопка займет весь контейнер */
  height: 35px;
}

.chip img {
  width: 100%;
  height: 100%;
}

.square_button {
  border: 2px solid #ffffff;
  float: left;
  border-collapse: collapse;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  color: white;
  cursor: inherit;
  background-color: green;
  width: 100%;
  /* Кнопка займет весь контейнер */
  height: 100%;
}

.square img.chip_icon {
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.square_button.green {
  width: 99%;
  background-color: transparent;
  border-radius: 50% 50% 0 0;
}

.square_button.green.hover {
  background-color: rgb(174, 174, 174);
}

.square_button.red {
  background-color: rgb(222, 33, 44);
}

.square_button.red:hover {
  background-color: rgb(238, 142, 148);
}

.square_button.red.hover {
  background-color: rgb(238, 142, 148);
}

.square_button.black {
  background-color: rgb(8, 8, 8);
}

.square_button.black:hover {
  background-color: rgb(130, 130, 130);
}

.square_button.black.hover {
  background-color: rgb(130, 130, 130);
}


.square_button.highlighted {
  transition: background-color 0.3s;
}

.roullete-button {
  cursor: inherit;
}

.roullete-button.column {
  background: transparent;
  color: white;
  border: 2px solid white;
  width: 33%;
}

.roullete-button.column:first-child {
  border-radius: 0 0 0 25%;
}

.roullete-button.column:last-child {
  border-radius: 0 0 25% 0;
}


.board-row {
  display: flex;
}

.board-row:first-child .square:first-child {
  width: 100%;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game-info {
  margin-left: 20px;
}