* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  position: relative;
  width: 45px; /* Задайте ширину для наглядности */
  height: 45px; /* Задайте высоту для наглядности */
}

.chip {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  color: white;
  cursor: inherit;
  width: 35px; /* Кнопка займет весь контейнер */
  height: 35px;
}

.chip img {
  width: 100%;
  height: 100%;
}

.square_button {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  color: white;
  cursor: inherit;
  width: 100%; /* Кнопка займет весь контейнер */
  height: 100%;
}

.square img.chip_icon  {
  position: absolute; /* Позиционирует картинку относительно родителя */
  top: 50%; /* Сдвигает картинку вниз на 50% */
  left: 50%; /* Сдвигает картинку вправо на 50% */
  transform: translate(-50%, -50%); /* Центрирует картинку */
  pointer-events: none; /* Картинка не будет блокировать клики по кнопке */
}

.square_button.wide {
  background-color: #999;
  width: 100%;
}

.square_button.red {
  background-color: rgb(165, 20, 20);
}

.square_button.red:hover {
  background-color: rgb(187, 78, 78);
}

.square_button.black {
  background-color: rgb(36, 36, 36);
}

.square_button.black:hover {
  background-color: rgb(47, 47, 47);
}

.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
